@import url("./styles/personal.css");
@import url("./styles/plans.css");
@import url("./styles/addon.css");
@import url("./styles/summary.css");

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;700&family=Chakra+Petch:wght@300;400&family=Lato:wght@300&family=Merriweather&family=Montserrat:wght@100;400;900&family=Oswald&family=Overpass:wght@300;400;700&family=Poppins:wght@100;200;300;400&family=Prompt:ital,wght@0,200;0,300;1,700&family=Public+Sans:wght@300;400;700&family=Roboto:wght@300;400;700&family=Sacramento&family=Sigmar+One&family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
  --primary-color: hsl(213, 96%, 18%);
  --secondary-color: hsl(243, 100%, 62%);
  --third-color: hsl(228, 100%, 84%);
  --fourth-color: hsl(206, 94%, 87%);
  --fifth-color: hsl(354, 84%, 57%);

  --neutral-one: hsl(231, 11%, 63%);
  --neutral-two: hsl(229, 24%, 87%);
  --neutral-three: hsl(217, 100%, 97%);
  --neutral-four: hsl(231, 100%, 99%);
  --neutral-fifth: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: var(--fourth-color);
  position: relative;
}

@media only screen and (max-width: 767px) {
  body {
    background-color: var(--neutral-four);
  }
}
